header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.post-container {
  border: 1px solid gray;
  padding: 10px;
  margin: 15px 0px;
}

.post-title {
  margin: 0px;
  padding-left: 10px;
}

.post-info {
  display: flex;
}

.post-img {
  /* flex-basis: 25%; */
  padding: 10px;
}

.post-text {
  flex-basis: 75%;
  padding: 10px;
}